

body{
Color: red;
}

.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style länkarna */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* färg på länkar */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* färg på aktiva länken */
  .topnav a.active {
    background-color: #22bb41;
    color: white;
  }

#blackbar{
    color: black;
    background-color: black;
}

footer{
    color: white;
    position: absolute;
    text-align: center;
    vertical-align: bottom;
    bottom: 10;
    right: 50;
    width: 200px;
    height: 150px;
    outline: 5px dashed grey;
}

img 
{ 
  max-width: 100%; 
  height: center; 
}

.bild
{
 text-align: center;
}

.topnav
{
  width: 100%
}

.start
{
  background-image: url('Bilder/tennisbg.jpg');
  background-size: cover;
  background-position: center;
  display: grid;
  min-height: 100%;
  position: relative;
  isolation: isolate;
}

.start::after
{
  content: '';
  position: absolute;
  background: black;
  opacity: .7;
  inset: 0;
  z-index: -1;
}

.output
{
  outline: 5px dashed grey;
  text-align: center;
  vertical-align: center;
  width: 150;
  height: 70px;
}

h1
{
  color: white;
}

h2
{
  color: white;
}

h3
{
  color: white;
}

p
{
  color: white;
}

label
{
  color: white;
}

.img-banner
{
  display: block;
}

@media only screen and (min-width: 700px)
{
  .img-banner
  {
    display: none;
    width: 100%;
  }
}